<template>
  <div class="app-container">


    <!--用户数据-->

    <el-form ref="queryForm" :model="queryParams" :inline="true" label-width="68px">
      <el-form-item label="CP名称" prop="cp_name">
        <el-input
          v-model="queryParams.cp_name"
          placeholder="请输入CP名称"
          clearable
          size="small"
          style="width: 240px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="CP编号" prop="cp_code">
        <el-input
          v-model="queryParams.cp_code"
          placeholder="请输入CP编号"
          clearable
          size="small"
          style="width: 240px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="状态" prop="status">
        <el-select
          v-model="queryParams.status"
          placeholder="用户状态"
          clearable
          size="small"
          style="width: 240px"
        >
          <el-option
            v-for="dict in userStatus"
            :key="parseInt(dict.status)"
            :label="dict.name"
            :value="parseInt(dict.status)"
          />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>

    <el-row :gutter="10" class="mb8">

      <el-col :span="1.5">
        <el-button
          v-permisaction="['audit:cp:list']"
          type="success"
          icon="el-icon-edit"
          size="mini"
          :disabled="single"
          @click="handleUpdate"
        >修改
        </el-button>
      </el-col>

    </el-row>

    <el-table v-loading="loading" :data="userList" @selection-change="handleSelectionChange">
      <el-table-column type="selection" width="45" align="center"/>
      <el-table-column label="编号" width="50" align="center" prop="id"/>
      <el-table-column label="CP名称" align="center" prop="cp_name"/>
      <el-table-column label="CP编号" align="center" prop="cp_code" width="120"/>
      <el-table-column label="优先级" align="center" prop="priority" />

      <el-table-column label="状态" width="50" align="center">
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.status"
            :active-value="1"
            :inactive-value="0"
            @change="handleStatusChange(scope.row)"
          />
        </template>
      </el-table-column>
      <el-table-column label="创建时间" align="center" prop="created_at" width="160">
        <template slot-scope="scope">
          <span>{{ parseTime(scope.row.created_at) }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="操作"
        align="center"
        width="220"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            v-permisaction="['audit:cp:list']"
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
          >修改
          </el-button>

        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="queryParams.page"
      :limit.sync="queryParams.limit"
      @pagination="getCpList"
    />

    <!-- 添加或修改参数配置对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="600px">
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-row>

          <el-col :span="12">
            <el-form-item label="CP名称" prop="cp_name">
              <el-input v-model="form.cp_name" placeholder="请输入CP名称" :disabled="isEdit"/>
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="CP编号" prop="cp_code">
              <el-input v-model="form.cp_code" placeholder="请输入CP编号" :disabled="isEdit" maxlength="11"/>
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="显示排序" prop="sort">
              <el-input-number v-model="form.priority" controls-position="right" :min="0" />
            </el-form-item>
          </el-col>


          <el-col :span="12">
            <el-form-item label="状态">
              <el-radio-group v-model="form.status">
                <el-radio
                  v-for="dict in userStatus"
                  :key="dict.status"
                  :label="parseInt(dict.status)"
                >{{ dict.name }}
                </el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>



        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>

  </div>
</template>

<script>


import { getCpList , getCpInfo , updateCp , changeCpStatus } from  '@/api/audit/cp'

export default {
  name: 'Cp',
  components: {},
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 总条数
      total: 0,
      // 用户表格数据
      userList: null,
      // 弹出层标题
      title: '',
      // 是否显示弹出层
      open: false,
      // 表单参数
      form: {},
      isEdit: false,
      // 查询参数
      queryParams: {
        page: 1,
        limit: 10,
        cp_name: undefined,
        cp_code: undefined,
        status: undefined,
      },
      // 表单校验
      rules: {
        cp_name: [
          {required: true, message: 'CP名称不能为空', trigger: 'blur'}
        ],
        cp_code: [
          {required: true, message: 'CP编号不能为空', trigger: 'blur'}
        ]
      },
      userStatus: [
        {status: 1, name: '启用'},
        {status: 0, name: '禁用'},
      ],
    }
  },
  watch: {},
  created() {
    this.getCpList()
  },
  methods: {
    // 查询用户列表
    getCpList() {
      this.loading = true
      getCpList(this.queryParams).then(response => {
          this.userList = response.data
          this.total = response.data.length
          this.loading = false
        }
      )
    },
    // 用户状态修改
    handleStatusChange(row) {
      const text = row.status === 1 ? '启用' : '停用'
      this.$confirm('确认要' + text + '"' + row.cp_name + '"用户吗?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(function () {
        return changeCpStatus(row.id, row.status)
      }).then(() => {
        this.msgSuccess('用户“' + row.cp_name + '”' + text + '成功')
      }).catch(function () {
        row.status = row.status === 1 ? 0 : 1
      })
    },
    // 取消按钮
    cancel() {
      this.open = false
      this.reset()
    },
    // 表单重置
    reset() {
      this.form = {
        id: undefined,
        cp_code: undefined,
        cp_name: undefined,
        status: 1,
      }
      this.resetForm('form')
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.page = 1
      this.getCpList()
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.dateRange = []
      this.resetForm('queryForm')
      this.handleQuery()
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.id)
      this.single = selection.length !== 1
      this.multiple = !selection.length
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset()
      getCpInfo(row.id || this.ids).then(response => {
        this.form = response.data
        this.open = true
        this.title = '修改用户'
        this.isEdit = true
      })
    },
    /** 提交按钮 */
    submitForm: function () {
      this.$refs['form'].validate(valid => {
        if (valid) {
          if (this.form.id !== undefined) {
            updateCp(this.form).then(response => {
              if (response.code === 200) {
                this.msgSuccess('用户修改成功')
                this.open = false
                this.getCpList()
              } else {
                this.msgError(response.msg)
              }
            })
          }
        }
      })
    },

  }
}
</script>
