<template>
  <div class="app-container">

<!--    筛选条件    -->
    <el-form ref="queryForm" :model="queryParams" :inline="true" label-width="68px">

      <el-row :gutter="10" class="mb8">
      <el-form-item label="分类" prop="category_id">
        <el-select
          v-model="queryParams.category_id"
          placeholder="分类"
          clearable
          size="small"
          style="width: 240px"
        >
          <el-option
            v-for="dict in cateList"
            :key="dict.category_id"
            :label="dict.name"
            :value="dict.category_id"
          />
        </el-select>
      </el-form-item>

      <el-form-item label="级别" prop="level">
        <el-select
          v-model="queryParams.level"
          placeholder="级别"
          clearable
          size="small"
          style="width: 240px"
        >
          <el-option
            v-for="dict in levels"
            :key="parseInt(dict.id)"
            :label="dict.name"
            :value="parseInt(dict.id)"
          />
        </el-select>
      </el-form-item>
      </el-row>

      <el-row>
          <el-input
            type="textarea"
            :rows="12"
            placeholder="请输入内容"
            clearable
            v-model="queryParams.sensitive"
            class="sensitivi-line"
          >
          </el-input>
      </el-row>
      <el-row>
        <span class="sensitivi-line">请以英文逗号 " , " 分隔;</span>
      </el-row>
      <el-form-item style="margin: 15px 62px;">
        <el-button type="primary" icon="el-icon-plus" size="mini" @click="handleAdd">添加</el-button>
        <el-button icon="el-icon-delete" size="mini" @click="handleDelete">删除</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">清空</el-button>
      </el-form-item>
    </el-form>




  </div>
</template>

<script>


import { getCategory , addSensitive , removeSensitive} from  '@/api/audit/sensitive'

export default {
  name: 'Sensitive',
  components: {},
  data() {
    return {
      // 弹出层标题
      title: '',
      // 是否显示弹出层
      open: false,
      // 表单参数
      form: {},
      cateList:[],
      // 查询参数
      queryParams: {
        category_id: undefined,
        level: undefined,
        sensitive:undefined,
      },
      levels: [
        { id:1,name: '一级' },
        { id:2,name: '二级' },
        { id:3,name: '三级' },
        { id:4,name: '四级' },
        { id:5,name: '五级' },
      ],
      // 表单校验
      rules: {
        category_id: [
          {required: true, message: '分类id不能为空', trigger: 'blur'}
        ],
        level: [
          {required: true, message: '等级不能为空', trigger: 'blur'}
        ],
        sensitive: [
          {required: true, message: '关键词不能为空', trigger: 'blur'}
        ]
      },
    }
  },
  watch: {},
  created() {
    this.getCategory()
  },
  methods: {
    // 查询分类列表
    getCategory() {
      this.loading = true
      getCategory().then(response => {
          this.cateList = response.data
          this.loading = false
        }
      )
    },
    // 取消按钮
    cancel() {
      this.open = false
      this.reset()
    },
    // 表单重置
    reset() {
      this.form = {
        category_id: undefined,
        level: undefined,
        sensitive: undefined,
      }
      this.resetForm('form')
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.getCategory()
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.reset()
      this.queryParams.sensitive = ''
      this.resetForm('queryForm')
      this.handleQuery()
    },
    //添加
    handleAdd(){
        const postData = {category_id:this.queryParams.category_id,level:this.queryParams.level,sensitive:this.queryParams.sensitive,}
        addSensitive(postData).then(response => {
          if (response.code === 200) {
            this.msgSuccess('敏感词添加成功')
            this.getCategory()
            this.queryParams.sensitive = ''
            this.resetForm('queryForm')
          } else {
            this.msgError(response.msg)
          }
        })

    },
    //删除
    handleDelete(){
      const postData = {category_id:this.queryParams.category_id,level:this.queryParams.level,sensitive:this.queryParams.sensitive,}
      removeSensitive(postData).then(response => {
        if (response.code === 200) {
          this.msgSuccess('敏感词删除成功')
          this.getCategory()
          this.queryParams.sensitive = ''
          this.resetForm('queryForm')
        } else {
          this.msgError(response.msg)
        }
      })
    }

  }
}
</script>
<style lang="scss" scoped>

.sensitivi-line{
  width: 685px;
  padding: 0px 63px;
}
</style>
