<template>
  <div class="app-container">
    <!--工作量统计-->
    <el-row :gutter="10" class="mb8">
      <el-col :span="4" class="work-title">
        <el-card shadow="always">
          待审核章节总数：{{auditTotal.to_bo_audit_chapter_total}}
        </el-card>
      </el-col>

      <el-col :span="4" class="work-title">
        <el-card shadow="always">
          待审核书籍总数：{{auditTotal.to_bo_audit_book_total}}
        </el-card>
      </el-col>

      <el-col :span="5" class="work-title">
        <el-card shadow="always">
          今日审核章节总数：{{auditTotal.chapter_pass_num}}
        </el-card>
      </el-col>

      <el-col :span="5" class="work-title">
        <el-card shadow="always">
          今日通过章节总数：{{auditTotal.chapter_abandon_num}}
        </el-card>
      </el-col>

      <el-col :span="5" class="work-title">
        <el-card shadow="always">
          今日放弃章节总数：{{auditTotal.chapter_total_num}}
        </el-card>
      </el-col>

    </el-row>

<!--    筛选条件    -->
    <el-form ref="queryForm" :model="queryParams" :inline="true" label-width="68px">

      <el-form-item label="选择时间" prop="dateInfo">
        <el-date-picker
          v-model="dateInfo"
          type="daterange"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
          value-format="yyyy-MM-dd"
          :picker-options="pickerOptions">
        >
        </el-date-picker>
      </el-form-item>

      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>

    <el-table v-loading="loading" :data="userList">
      <el-table-column label="日期" align="center" prop="audit_date"/>
      <el-table-column label="审核人" align="center" prop="operator_user"/>
      <el-table-column label="审核章节数" align="center" prop="audit_chapter_num" />
      <el-table-column label="正确数" align="center" prop="chapter_correct_num" />
      <el-table-column label="错误数" align="center" prop="chapter_error_num" />
      <el-table-column label="正确率" align="center" prop="chapter_correct_rate" />

    </el-table>

    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="queryParams.page"
      :limit.sync="queryParams.limit"
      @pagination="getWordload"
    />


  </div>
</template>

<script>


import { getWordload } from  '@/api/audit/wordload'
import { parseTime } from "@/utils";

export default {
  name: 'Workload',
  components: {},
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 总条数
      total: 0,
      // 用户表格数据
      userList: null,
      // 弹出层标题
      title: '',
      // 是否显示弹出层
      open: false,
      // 表单参数
      form: {},
      isEdit: false,
      // 查询参数
      queryParams: {
        page: 1,
        limit: 10,
        start_date:'',
        end_date:'',
      },
      dateInfo:[

      ],
      auditTotal: [],
      pickerOptions: {
        disabledDate(data) {
          return  data > (Date.now())
        }
      },
    }
  },
  watch: {},
  created() {
    this.getWordload()
    this.dateInfo.push(parseTime(new Date(),'{y}-{m}-{d}'))
    this.dateInfo.push(parseTime(new Date(),'{y}-{m}-{d}'))
  },
  methods: {
    // 查询用户列表
    getWordload() {
      this.loading = true
      if (this.dateInfo) {
        this.queryParams.start_date = this.dateInfo[0]
        this.queryParams.end_date = this.dateInfo[1]
      }
      getWordload(this.queryParams).then(response => {
          this.auditTotal = response.data.audit_total
          this.userList = response.data.audit_detail
          this.total = response.data.audit_detail.length
          this.loading = false
        }
      )
    },
    // 用户状态修改
    handleStatusChange(row) {
      const text = row.status === 1 ? '启用' : '停用'
      this.$confirm('确认要' + text + '"' + row.cp_name + '"用户吗?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(function () {
        return changeCpStatus(row.id, row.status)
      }).then(() => {
        this.msgSuccess('用户“' + row.cp_name + '”' + text + '成功')
      }).catch(function () {
        row.status = row.status === 1 ? 0 : 1
      })
    },
    // 取消按钮
    cancel() {
      this.open = false
      this.reset()
    },
    // 表单重置
    reset() {
      this.form = {
        id: undefined,
        cp_code: undefined,
        cp_name: undefined,
        status: 1,
      }
      this.resetForm('form')
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.page = 1
      this.getWordload()
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.dateRange = []
      this.resetForm('queryForm')
      this.handleQuery()
    },
    /** 提交按钮 */
    submitForm: function () {
      this.$refs['form'].validate(valid => {
        if (valid) {
          if (this.form.id !== undefined) {
            updateCp(this.form).then(response => {
              if (response.code === 200) {
                this.msgSuccess('用户修改成功')
                this.open = false
                this.getWordload()
              } else {
                this.msgError(response.msg)
              }
            })
          }
        }
      })
    },

  }
}
</script>
<style lang="scss" scoped>
.work-title{
  padding: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #333;
  line-height: 1.15;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
}
</style>
