<template>
  <div class="app-container">

    <el-row :gutter="5" style="padding: 10px 20px; font-size: 14px;">
      <el-col :span="4"><span>书籍ID：{{this.queryParams.book_id}}</span></el-col>
      <el-col :span="4"><span>书籍名称：{{this.queryParams.book_name}}</span></el-col>
      <el-col :span="4"><span>章节ID：{{this.queryParams.chapter_id}}</span></el-col>
      <el-col :span="4"><span>章节名：{{this.queryParams.chapter_name}}</span></el-col>
      <el-col :span="4"><span>CP：{{this.queryParams.source_name}}</span></el-col>
    </el-row>

    <el-row style="font-size: 14px;">
      <p style="float: right;">调整字号
        <el-button  size="mini" icon="el-icon-minus" circle></el-button>
        15 px
        <el-button  size="mini" icon="el-icon-plus" circle></el-button>
      </p>
    </el-row>
    <el-row>
      <p class="chapter-content"
        contenteditable="true"
        :rows="6"
      >{{this.queryParams.content}}
      </p>
    </el-row>

    <el-row>
      涉党政军
    </el-row>

    <el-row style="float: right; padding-bottom: 4%">
        <el-button size="mini" @click="handleApproval">编辑</el-button>
        <el-button size="mini" @click="handleApproval">通过</el-button>
        <el-button size="mini" @click="handleAbandon">放弃</el-button>
    </el-row>
  </div>
</template>

<script>

import { getChapterTask } from '@/api/audit/chapter'

export default {
  name: 'ChapterTask',
  components: {},
  data() {
    return {
      // 遮罩层
      loading: true,
      // 书籍信息
      bookInfo: null,
      // 弹出层标题
      title: '',
      // 是否显示弹出层
      open: false,
      // 表单参数
      form: {},
      isEdit: false,
      // 查询参数
      queryParams: {
        book_id: undefined,

      }
    }
  },
  watch: {},
  created() {
    this.getChapterTask()
  },
  methods: {
    // 查询待审核书籍
    getChapterTask() {
      this.loading = true
      getChapterTask().then(response => {
          if (response.data !== null) {
            this.queryParams = response.data
            this.loading = false
          }
        }
      )
    },
    //待审核书籍通过
    handleApproval() {
      this.checkLevelScore(this.queryParams.level, this.queryParams.level_score)
      const queryParams = this.queryParams
      this.$confirm('是否确认通过书籍"' + this.queryParams.book_name + '"?', '注意', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(function () {
        return approvalAuditBook(queryParams)
      }).then(() => {
        this.getChapterTask()
        this.msgSuccess('审核通过成功')
      }).catch(function () {
      })
    },
    //待审核书籍放弃
    handleAbandon() {
      const queryParams = {book_id: this.queryParams.book_id}
      this.$confirm('是否确认放弃书籍"' + this.queryParams.book_name + '"?', '注意', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(function () {
        return abandonAuditBook(queryParams)
      }).then(() => {
        this.getChapterTask()
        this.msgSuccess('审核放弃成功')
      }).catch(function () {
      })
    },
    // 取消按钮
    cancel() {
      this.open = false
      this.reset()
    },
    // 表单重置
    reset() {
      this.form = {
        id: undefined,
      }
      this.resetForm('form')
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm('queryForm')
      this.handleQuery()
    },

    /** 删除按钮操作 */
    handleDelete(row) {
      const userIds = row.id || this.ids
      this.$confirm('是否确认删除用户编号为"' + userIds + '"的数据项?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(function () {
        return delUser(userIds)
      }).then(() => {
        this.getChapterTask()
        this.msgSuccess('删除成功')
      }).catch(function () {
      })
    },

  }
}
</script>

<style lang="scss" scoped>

.chapter-content{
  width: 100%;
  font-size: 15px;
  background: rgb(204, 232, 207);
  border: 1px solid rgb(187, 187, 187);
  padding: 4% 7%;
  line-height: 2.8;
}
</style>
