<template>
  <div class="app-container">
    <!--书籍数据-->
    <el-form ref="queryForm" :model="queryParams" :inline="true" label-width="68px">
      <el-form-item label="书籍ID" prop="book_id">
        <el-input
          v-model="queryParams.book_id"
          placeholder="请输入书籍ID"
          clearable
          size="small"
          style="width: 240px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="书籍名称" prop="book_name">
        <el-input
          v-model="queryParams.book_name"
          placeholder="请输入书籍名称"
          clearable
          size="small"
          style="width: 240px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="作者" prop="author">
        <el-input
          v-model="queryParams.author"
          placeholder="请输入作者"
          clearable
          size="small"
          style="width: 240px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>

    <el-table v-loading="loading" :data="userList">
      <el-table-column label="书籍ID" width="120" align="center" prop="book_id"/>
      <el-table-column label="书名称" align="center" prop="book_name"/>
      <el-table-column label="作者" align="center" prop="author"/>
      <el-table-column label="分类" align="center" prop="category_name" :show-overflow-tooltip="true"/>
      <el-table-column label="来源CP" align="center" prop="source_name"/>
      <el-table-column label="来源平台" align="center" prop="platform_code"/>
      <el-table-column label="书籍等级" align="center" width="80">
        <template slot-scope="scope">
          <el-input v-model="scope.row.level" @blur="setBookLevelAndScore(scope.row)"></el-input>
        </template>
      </el-table-column>
      <el-table-column label="书籍评分" align="center" width="90">
      <template slot-scope="scope">
        <el-input type="number" v-model="scope.row.level_score" max="100" min="1" @blur="setBookLevelAndScore(scope.row)"></el-input>
      </template>
      </el-table-column>
      <el-table-column label="白名单" align="center">
        <template slot-scope="scope">
          <el-tag
            :type="scope.row.is_white_list === 1 ? 'success' : 'danger'"
            disable-transitions
          >
            {{ scope.row.is_white_list === 1 ? '是' : '否' }}
          </el-tag>
        </template>
      </el-table-column>

      <el-table-column
        label="操作"
        align="center"
        width="220"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
          >修改
          </el-button>
          <el-button
            v-if="scope.row.id !== 1"
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
          >删除
          </el-button>

        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="queryParams.page"
      :limit.sync="queryParams.limit"
      @pagination="getAuditedList"
    />

    <!-- 添加或修改参数配置对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="600px">

    </el-dialog>

  </div>
</template>

<script>

import {
  addUser,
  changeUserStatus,
  delUser,
  getUser,
  updateUser,
} from '@/api/user/user'

import { getAuditedList , updateAuditedBook } from '@/api/audit/book'

export default {
  name: 'Audited',
  components: {},
  data() {
    return {
      // 遮罩层
      loading: true,
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 总条数
      total: 0,
      // 用户表格数据
      userList: null,
      // 弹出层标题
      title: '',
      // 是否显示弹出层
      open: false,
      // 表单参数
      form: {},
      isEdit: false,
      // 查询参数
      queryParams: {
        page: 1,
        limit: 10,
        book_id: undefined,
        book_name: undefined,
        author: undefined,
        level: undefined,
        level_score: undefined,
      }
    }
  },
  watch: {},
  created() {
    this.getAuditedList()
  },
  methods: {
    setBookLevelAndScore(row){
      console.log(row)
      this.checkLevelScore(row.level,row.level_score)
      updateAuditedBook(row).then(response => {
        if (response.code === 200) {
          this.msgSuccess('书籍信息更新成功')
          this.getAuditedList()
        } else {
          this.msgError(response.msg)
        }
      })
    },
    checkLevelScore(level,levelScore){
      const errMessage = '分数等级不匹配'
        if (!level || !levelScore) return false;
      if (level === 'S') {
        if (levelScore < 90 || levelScore >= 100) {
          this.msgError(errMessage)
        }
      } else if (level === 'A') {
        if (levelScore < 80 || levelScore >= 90) {
          this.msgError(errMessage)
        }
      } else if (level === 'B') {
        if (levelScore < 70 || levelScore >= 80) {
          this.msgError(errMessage)
        }
      } else if (level === 'C') {
        if (levelScore < 60 || levelScore >= 70) {
          this.msgError(errMessage)
        }
      } else if (level === 'D') {
        if (levelScore < 50 || levelScore >= 60) {
          this.msgError(errMessage)
        }
      } else {
        this.msgError(errMessage)
      }
    },
    // 查询已审核书籍列表
    getAuditedList() {
      this.loading = true
      getAuditedList(this.queryParams).then(response => {
          this.userList = response.data
          this.total = response.data.length
          this.loading = false
        }
      )
    },
    // 用户状态修改
    handleStatusChange(row) {
      const text = row.status === 1 ? '启用' : '停用'
      this.$confirm('确认要' + text + '"' + row.real_name + '"用户吗?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(function () {
        return changeUserStatus(row.id, row.status)
      }).then(() => {
        this.msgSuccess('用户“' + row.real_name + '”' + text + '成功')
      }).catch(function () {
        row.status = row.status === 1 ? 0 : 1
      })
    },
    // 取消按钮
    cancel() {
      this.open = false
      this.reset()
    },
    // 表单重置
    reset() {
      this.form = {
        id: undefined,
        book_id: undefined,
        book_name: undefined,
        author: undefined,
        category_name: undefined,
        source_name: undefined,
        platform_code: undefined,
        level: undefined,
        level_score: undefined,
        is_white_list: undefined,
      }
      this.resetForm('form')
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.page = 1
      this.getAuditedList()
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm('queryForm')
      this.handleQuery()
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset()
      this.selectGroupInfo = []
      this.getSelectGroup()
      getUser(row.id || this.ids).then(response => {
        this.form = response.data
        this.selectGroupInfo = response.data.selectGroupInfo
        this.open = true
        this.title = '修改用户'
        this.isEdit = true
      })
    },
    /** 提交按钮 */
    submitForm: function () {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.form.selectGroupInfo = this.selectGroupInfo
          if (this.form.id !== undefined) {
            updateUser(this.form).then(response => {
              if (response.code === 200) {
                this.msgSuccess('用户修改成功')
                this.open = false
                this.getAuditedList()
              } else {
                this.msgError(response.msg)
              }
            })
          } else {
            addUser(this.form).then(response => {
              if (response.code === 200) {
                this.msgSuccess('新用户添加成功')
                this.open = false
                this.getAuditedList()
              } else {
                this.msgError(response.msg)
              }
            })
          }
        }
      })
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const userIds = row.id || this.ids
      this.$confirm('是否确认删除用户编号为"' + userIds + '"的数据项?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(function () {
        return delUser(userIds)
      }).then(() => {
        this.getAuditedList()
        this.msgSuccess('删除成功')
      }).catch(function () {
      })
    },

  }
}
</script>
