<template>
    <div class="app-container">
        <el-form ref="queryForm" :model="queryParams" :inline="true">
            <el-form-item label="字典名称" prop="dict_type">
                <el-select v-model="queryParams.dict_type" size="small">
                    <el-option
                            v-for="item in typeOptions"
                            :key="item.id"
                            :label="item.dict_name"
                            :value="item.dict_type"
                    />
                </el-select>
            </el-form-item>
            <el-form-item label="字典标签" prop="dict_label">
                <el-input
                        v-model="queryParams.dict_label"
                        placeholder="请输入字典标签"
                        clearable
                        size="small"
                        @keyup.enter.native="handleQuery"
                />
            </el-form-item>
            <el-form-item label="状态" prop="status">
                <el-select v-model="queryParams.status" placeholder="数据状态" clearable size="small">
                    <el-option
                            v-for="dict in statusOptions"
                            :key="dict.dict_value"
                            :label="dict.dict_label"
                            :value="dict.dict_value"
                    />
                </el-select>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
                <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
            </el-form-item>
        </el-form>

        <el-row :gutter="10" class="mb8">
            <el-col :span="1.5">
                <el-button
                        v-permisaction="['system:dictdata:add']"
                        type="primary"
                        icon="el-icon-plus"
                        size="mini"
                        @click="handleAdd"
                >新增
                </el-button>
            </el-col>
            <el-col :span="1.5">
                <el-button
                        v-permisaction="['system:dictdata:edit']"
                        type="success"
                        icon="el-icon-edit"
                        size="mini"
                        :disabled="single"
                        @click="handleUpdate"
                >修改
                </el-button>
            </el-col>
            <el-col :span="1.5">
                <el-button
                        v-permisaction="['system:dictdata:delete']"
                        type="danger"
                        icon="el-icon-delete"
                        size="mini"
                        :disabled="multiple"
                        @click="handleDelete"
                >删除
                </el-button>
            </el-col>
        </el-row>

        <el-table v-loading="loading" :data="dataList" @selection-change="handleSelectionChange">
            <el-table-column type="selection" width="55" align="center"/>
            <el-table-column label="字典编码" width="80" align="center" prop="id"/>
            <el-table-column label="字典标签" align="center" prop="dict_label"/>
            <el-table-column label="字典键值" align="center" prop="dict_value"/>
            <el-table-column label="字典排序" align="center" prop="dict_sort"/>
            <el-table-column label="状态" align="center" prop="status" :formatter="statusFormat">
                <template slot-scope="scope">
                    <el-tag
                            :type="scope.row.status === 1 ? 'success' : 'danger'"
                    >{{ statusFormat(scope.row) }}
                    </el-tag>
                </template>
            </el-table-column>
            <el-table-column label="备注" align="center" prop="remark" :show-overflow-tooltip="true"/>
            <el-table-column label="创建时间" align="center" prop="created_at" width="180">
                <template slot-scope="scope">
                    <span>{{ parseTime(scope.row.created_at) }}</span>
                </template>
            </el-table-column>
            <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
                <template slot-scope="scope">
                    <el-button
                            v-permisaction="['system:dictdata:edit']"
                            size="mini"
                            type="text"
                            icon="el-icon-edit"
                            @click="handleUpdate(scope.row)"
                    >修改
                    </el-button>
                    <el-button
                            v-permisaction="['system:dictdata:delete']"
                            size="mini"
                            type="text"
                            icon="el-icon-delete"
                            @click="handleDelete(scope.row)"
                    >删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>

        <pagination
                v-show="total>0"
                :total="total"
                :page.sync="queryParams.page_index"
                :limit.sync="queryParams.page_size"
                @pagination="getList"
        />

        <!-- 添加或修改参数配置对话框 -->
        <el-dialog :title="title" :visible.sync="open" width="500px">
            <el-form ref="form" :model="form" :rules="rules" label-width="80px">
                <el-form-item label="字典类型">
                    <el-input v-model="form.dict_type" :disabled="true"/>
                </el-form-item>
                <el-form-item label="数据标签" prop="dict_label">
                    <el-input v-model="form.dict_label" placeholder="请输入数据标签" :disabled="isEdit"/>
                </el-form-item>
                <el-form-item label="数据键值" prop="dict_value">
                    <el-input v-model="form.dict_value" placeholder="请输入数据键值" :disabled="isEdit"/>
                </el-form-item>
                <el-form-item label="显示排序" prop="dict_sort">
                    <el-input-number v-model="form.dict_sort" controls-position="right" :min="0"/>
                </el-form-item>
                <el-form-item label="状态" prop="status">
                    <el-radio-group v-model="form.status">
                        <el-radio
                                v-for="dict in statusOptions"
                                :key="parseInt(dict.dict_value)"
                                :label="parseInt(dict.dict_value)"
                        >{{ dict.dict_label }}
                        </el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="备注" prop="remark">
                    <el-input v-model="form.remark" type="textarea" placeholder="请输入内容"/>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" @click="submitForm">确 定</el-button>
                <el-button @click="cancel">取 消</el-button>
            </div>
        </el-dialog>
    </div>
</template>

<script>
    import {addDictData, deleteDictData, getDictData, listDictData, updateDictData} from '@/api/system/dict/data'
    import {getDictType, listDictType} from '@/api/system/dict/type'

    export default {
        name: 'Data',
        data() {
            return {
                // 遮罩层
                loading: true,
                // 选中数组
                ids: [],
                // 非单个禁用
                single: true,
                // 非多个禁用
                multiple: true,
                // 总条数
                total: 0,
                // 字典表格数据
                dataList: [],
                // 默认字典类型
                defaultDictType: '',
                // 弹出层标题
                title: '',
                isEdit: false,
                // 是否显示弹出层
                open: false,
                // 状态数据字典
                statusOptions: [],
                // 类型数据字典
                typeOptions: [],
                // 查询参数
                queryParams: {
                    page_index: 1,
                    page_size: 10,
                    dict_name: undefined,
                    dict_type: undefined,
                    status: undefined
                },
                // 表单参数
                form: {},
                // 表单校验
                rules: {
                    dict_label: [
                        {required: true, message: '数据标签不能为空', trigger: 'blur'}
                    ],
                    dict_value: [
                        {required: true, message: '数据键值不能为空', trigger: 'blur'}
                    ],
                    dict_sort: [
                        {required: true, message: '数据顺序不能为空', trigger: 'blur'}
                    ]
                }
            }
        },
        created() {
            const dictId = this.$route.params && this.$route.params.dictId
            this.getType(dictId)
            this.getTypeList()
            this.getDictByType('sys_normal_disable').then(response => {
                this.statusOptions = response.data
            })
        },
        methods: {
            /** 查询字典类型详细 */
            getType(dictId) {
                getDictType(dictId).then(response => {
                    this.queryParams.dict_type = response.data.dict_type
                    this.defaultDictType = response.data.dict_type
                    this.getList()
                })
            },
            /** 查询字典类型列表 */
            getTypeList() {
              listDictType().then(response => {
                    this.typeOptions = response.data.list
                })
            },
            /** 查询字典数据列表 */
            getList() {
                this.loading = true
                listDictData(this.queryParams).then(response => {
                    this.dataList = response.data.list
                    this.total = response.data.count
                    this.loading = false
                })
            },
            // 数据状态字典翻译
            statusFormat(row, column) {
                return this.selectDictLabel(this.statusOptions, row.status)
            },
            // 取消按钮
            cancel() {
                this.open = false
                this.reset()
            },
            // 表单重置
            reset() {
                this.form = {
                    dict_code: undefined,
                    dict_label: undefined,
                    dict_value: undefined,
                    dict_sort: 0,
                    status: '0',
                    remark: undefined
                }
                this.resetForm('form')
            },
            /** 搜索按钮操作 */
            handleQuery() {
                this.queryParams.page_index = 1
                this.getList()
            },
            /** 重置按钮操作 */
            resetQuery() {
                this.resetForm('queryForm')
                this.queryParams.dict_type = this.defaultDictType
                this.handleQuery()
            },
            /** 新增按钮操作 */
            handleAdd() {
                this.reset()
                this.open = true
                this.title = '添加字典数据'
                this.isEdit = false
                this.form.dict_type = this.queryParams.dict_type
            },
            // 多选框选中数据
            handleSelectionChange(selection) {
                this.ids = selection.map(item => item.id)
                this.single = selection.length !== 1
                this.multiple = !selection.length
            },
            /** 修改按钮操作 */
            handleUpdate(row) {
                this.reset()
                const id = row.id || this.ids
                getDictData(id).then(response => {
                    this.form = response.data
                    this.open = true
                    this.title = '修改字典数据'
                    this.isEdit = true
                })
            },
            /** 提交按钮 */
            submitForm: function () {
                this.$refs['form'].validate(valid => {
                    if (valid) {
                        if (this.form.id !== undefined) {
                            updateDictData(this.form).then(response => {
                                if (response.code === 1) {
                                    this.msgSuccess('修改成功')
                                    this.open = false
                                    this.getList()
                                } else {
                                    this.msgError(response.msg)
                                }
                            })
                        } else {
                            addDictData(this.form).then(response => {
                                if (response.code === 1) {
                                    this.msgSuccess('新增成功')
                                    this.open = false
                                    this.getList()
                                } else {
                                    this.msgError(response.msg)
                                }
                            })
                        }
                    }
                })
            },
            /** 删除按钮操作 */
            handleDelete(row) {
                const dictCodes = row.id || this.ids
                this.$confirm('是否确认删除字典编码为"' + dictCodes + '"的数据项?', '警告', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(function () {
                    return deleteDictData(dictCodes)
                }).then(() => {
                    this.getList()
                    this.msgSuccess('删除成功')
                }).catch(function () {
                })
            },
            /** 导出按钮操作 */
            handleExport() {
                const queryParams = this.queryParams
                this.$confirm('是否确认导出所有数据项?', '警告', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(function () {
                    // return exportDictData(queryParams)
                }).then(response => {
                    this.download(response.msg)
                }).catch(function () {
                })
            }
        }
    }
</script>
