<template>
  <div class="app-container">
    <!--用户数据-->
    <el-form ref="queryForm" :model="queryParams" :inline="true" label-width="68px">
      <el-form-item label="平台名称" prop="platform_name">
        <el-input
          v-model="queryParams.platform_name"
          placeholder="请输入平台名称"
          clearable
          size="small"
          style="width: 240px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="code" prop="code">
        <el-input
          v-model="queryParams.code"
          placeholder="请输入平台code"
          clearable
          size="small"
          style="width: 240px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>

    <el-row :gutter="10" class="mb8">

      <el-col :span="1.5">
        <el-button
          v-permisaction="['audit:platform:list']"
          type="success"
          icon="el-icon-edit"
          size="mini"
          :disabled="single"
          @click="handleUpdate"
        >修改
        </el-button>
      </el-col>

    </el-row>

    <el-table v-loading="loading" :data="userList" @selection-change="handleSelectionChange">
      <el-table-column type="selection" width="45" align="center"/>
      <el-table-column label="编号" width="50" align="center" prop="id"/>
      <el-table-column label="平台名称" align="center" prop="platform_name"/>
      <el-table-column label="平台code" align="center" prop="code"/>
      <el-table-column label="书籍回调地址" align="center" prop="book_callback_url"/>
      <el-table-column label="章节回调地址" align="center" prop="chapter_callback_url"/>
      <el-table-column label="优先级" align="center" prop="priority" />
      <el-table-column label="创建时间" align="center" prop="created_at" width="160">
        <template slot-scope="scope">
          <span>{{ parseTime(scope.row.created_at) }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="操作"
        align="center"
        width="220"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            v-permisaction="['audit:platform:edit']"
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
          >修改
          </el-button>

        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="queryParams.page"
      :limit.sync="queryParams.limit"
      @pagination="getPlatform"
    />

    <!-- 添加或修改参数配置对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="600px">
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-row>

          <el-col :span="12">
            <el-form-item label="平台名称" prop="platform_name">
              <el-input v-model="form.platform_name" placeholder="请输入平台名称" :disabled="isEdit"/>
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="平台code" prop="code">
              <el-input v-model="form.code" placeholder="请输入平台code" :disabled="isEdit" maxlength="11"/>
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="书籍回调地址" prop="book_callback_url">
              <el-input v-model="form.book_callback_url" placeholder="请输入书籍回调地址" />
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="章节回调地址" prop="chapter_callback_url">
              <el-input v-model="form.chapter_callback_url" placeholder="请输入章节回调地址" />
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="显示排序" prop="sort">
              <el-input-number v-model="form.priority" controls-position="right" :min="0" />
            </el-form-item>
          </el-col>


        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>

  </div>
</template>

<script>


import { getPlatform , getPlatformInfo , updatePlatform } from  '@/api/audit/platform'

export default {
  name: 'Platform',
  components: {},
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 总条数
      total: 0,
      // 用户表格数据
      userList: null,
      // 弹出层标题
      title: '',
      // 是否显示弹出层
      open: false,
      // 表单参数
      form: {},
      isEdit: false,
      // 查询参数
      queryParams: {
        page: 1,
        limit: 10,
        platform_name: undefined,
        code: undefined,
        status: undefined,
      },
      // 表单校验
      rules: {
        platform_name: [
          {required: true, message: '平台名称不能为空', trigger: 'blur'}
        ],
        code: [
          {required: true, message: '平台code不能为空', trigger: 'blur'}
        ]
      }
    }
  },
  watch: {},
  created() {
    this.getPlatform()
  },
  methods: {
    // 查询用户列表
    getPlatform() {
      this.loading = true
      getPlatform(this.queryParams).then(response => {
          this.userList = response.data
          this.total = response.data.length
          this.loading = false
        }
      )
    },
    // 取消按钮
    cancel() {
      this.open = false
      this.reset()
    },
    // 表单重置
    reset() {
      this.form = {
        id: undefined,
        cp_code: undefined,
        cp_name: undefined,
        status: 1,
        book_callback_url: undefined,
        chapter_callback_url: undefined,
      }
      this.resetForm('form')
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.page = 1
      this.getPlatform()
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.dateRange = []
      this.resetForm('queryForm')
      this.handleQuery()
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.id)
      this.single = selection.length !== 1
      this.multiple = !selection.length
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset()
      getPlatformInfo(row.id || this.ids).then(response => {
        this.form = response.data
        this.open = true
        this.title = '修改平台'
        this.isEdit = true
      })
    },
    /** 提交按钮 */
    submitForm: function () {
      this.$refs['form'].validate(valid => {
        if (valid) {
          if (this.form.id !== undefined) {
            updatePlatform(this.form).then(response => {
              if (response.code === 200) {
                this.msgSuccess('平台修改成功')
                this.open = false
                this.getPlatform()
              } else {
                this.msgError(response.msg)
              }
            })
          }
        }
      })
    },

  }
}
</script>
