<template>
  <div class="app-container">
    <!--书籍数据-->
    <el-form align="left" ref="queryForm" :model="queryParams" :inline="true" label-width="80px">
      <el-row>
        <el-form-item label="书籍ID" prop="book_id">
          <el-input
            v-model="queryParams.book_id"
            placeholder="请输入书籍ID"
            clearable
            size="small"
            style="width: 240px"
            :disabled=true
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>

        <el-form-item label="书籍名称" prop="book_name">
          <el-input
            v-model="queryParams.book_name"
            placeholder="请输入书籍名称"
            clearable
            size="small"
            style="width: 240px"
            :disabled=true
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
      </el-row>
      <el-row>
        <el-form-item label="作者" prop="author">
          <el-input
            v-model="queryParams.author"
            placeholder="请输入作者"
            clearable
            size="small"
            style="width: 240px"
            :disabled=true
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>

        <el-form-item label="关键词" prop="keywords">
          <el-input
            v-model="queryParams.keywords"
            placeholder="请输入关键词"
            clearable
            size="small"
            style="width: 240px"
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
      </el-row>

      <el-row>
        <el-form-item label="书籍分类" prop="category_name">
          <el-input
            v-model="queryParams.category_name"
            placeholder="请输入书籍分类"
            clearable
            size="small"
            style="width: 240px"
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>

        <el-form-item label="来源平台" prop="platform_code">
          <el-input
            v-model="queryParams.platform_code"
            placeholder="请输入来源平台"
            clearable
            size="small"
            style="width: 240px"
            :disabled=true
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
      </el-row>

      <el-row>
        <el-form-item label="来源CP" prop="source_name">
          <el-input
            v-model="queryParams.source_name"
            placeholder="请输入来源CP"
            clearable
            size="small"
            style="width: 240px"
            :disabled=true
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>

        <el-form-item label="提审时间" prop="created_at">
          <el-input
            v-model="queryParams.created_at"
            placeholder="请输入提审时间"
            clearable
            size="small"
            style="width: 240px"
            :disabled=true
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
      </el-row>

      <el-row>
        <el-form-item label="书籍等级" prop="level">
          <el-input
            v-model="queryParams.level"
            placeholder="请输入书籍等级"
            clearable
            size="small"
            style="width: 240px"
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>

        <el-form-item label="书籍评分" prop="level_score">
          <el-input
            type="number"
            min="1"
            max="100"
            v-model="queryParams.level_score"
            placeholder="请输入书籍评分"
            clearable
            size="small"
            style="width: 240px"
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
      </el-row>

      <el-row>
        <el-form-item label="书籍封面" prop="cover">
          <el-image style="height: 230px; width: 230px; padding: 5px 0;" v-model="queryParams.cover"
                    :src="queryParams.cover">
            <div slot="error" class="image-slot">
              <i class="el-icon-picture-outline"></i>
            </div>
          </el-image>
        </el-form-item>
      </el-row>

      <el-row>
        <el-form-item label="书籍简介" prop="summary">
          <el-input
            type="textarea"
            v-model="queryParams.summary"
            placeholder="请输入书籍简介"
            clearable
            size="small"
            :rows="6"
            style="width: 560px"
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
      </el-row>
      <el-row>
        <el-form-item style="padding: 0 30%">
          <el-button type="primary" icon="el-icon-check" size="mini" @click="handleApproval">通过</el-button>
          <el-button icon="el-icon-close" size="mini" @click="handleAbandon">放弃</el-button>
        </el-form-item>
      </el-row>
    </el-form>
  </div>
</template>

<script>

import { getBookTask , approvalAuditBook, abandonAuditBook } from '@/api/audit/book'

export default {
  name: 'Task',
  components: {},
  data() {
    return {
      // 遮罩层
      loading: true,
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 总条数
      total: 0,
      // 书籍信息
      bookInfo: null,
      // 弹出层标题
      title: '',
      // 是否显示弹出层
      open: false,
      // 表单参数
      form: {},
      isEdit: false,
      // 查询参数
      queryParams: {
        book_id:undefined,
        book_name:undefined,
        author:undefined,
        keywords:undefined,
        category_name:undefined,
        platform_code:undefined,
        source_name:undefined,
        created_at:undefined,
        level:undefined,
        level_score:undefined,
        cover:undefined,
        summary:undefined,
      }
    }
  },
  watch: {},
  created() {
    this.getBookTask()
  },
  methods: {
    checkLevelScore(level,levelScore){
      const errMessage = '分数等级不匹配'
      if (!level || !levelScore) return false;
      if (level === 'S') {
        if (levelScore < 90 || levelScore >= 100) {
          this.msgError(errMessage)
        }
      } else if (level === 'A') {
        if (levelScore < 80 || levelScore >= 90) {
          this.msgError(errMessage)
        }
      } else if (level === 'B') {
        if (levelScore < 70 || levelScore >= 80) {
          this.msgError(errMessage)
        }
      } else if (level === 'C') {
        if (levelScore < 60 || levelScore >= 70) {
          this.msgError(errMessage)
        }
      } else if (level === 'D') {
        if (levelScore < 50 || levelScore >= 60) {
          this.msgError(errMessage)
        }
      } else {
        this.msgError(errMessage)
      }
    },
    // 查询待审核书籍
    getBookTask() {
      this.loading = true
      getBookTask().then(response => {
        if(response.data !== null){
          this.queryParams = response.data
          this.loading = false
        }
        }
      )
    },
    //待审核书籍通过
    handleApproval(){
      this.checkLevelScore(this.queryParams.level,this.queryParams.level_score)
      const queryParams = this.queryParams
      this.$confirm('是否确认通过书籍"' + this.queryParams.book_name + '"?', '注意', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(function () {
        return approvalAuditBook(queryParams)
      }).then(() => {
        this.getBookTask()
        this.msgSuccess('审核通过成功')
      }).catch(function () {
      })
    },
    //待审核书籍放弃
    handleAbandon(){
      const queryParams = {book_id: this.queryParams.book_id}
      this.$confirm('是否确认放弃书籍"' + this.queryParams.book_name + '"?', '注意', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(function () {
        return abandonAuditBook(queryParams)
      }).then(() => {
        this.getBookTask()
        this.msgSuccess('审核放弃成功')
      }).catch(function () {
      })
    },
    // 取消按钮
    cancel() {
      this.open = false
      this.reset()
    },
    // 表单重置
    reset() {
      this.form = {
        id: undefined,
      }
      this.resetForm('form')
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm('queryForm')
      this.handleQuery()
    },

    /** 删除按钮操作 */
    handleDelete(row) {
      const userIds = row.id || this.ids
      this.$confirm('是否确认删除用户编号为"' + userIds + '"的数据项?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(function () {
        return delUser(userIds)
      }).then(() => {
        this.getBookTask()
        this.msgSuccess('删除成功')
      }).catch(function () {
      })
    },

  }
}
</script>
