<template>
  <div class="app-container">


    <!--用户数据-->

    <el-form ref="queryForm" :model="queryParams" :inline="true" label-width="68px">
      <el-form-item label="真实姓名" prop="real_name">
        <el-input
          v-model="queryParams.real_name"
          placeholder="请输入用户真实姓名"
          clearable
          size="small"
          style="width: 240px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="手机号码" prop="mobile">
        <el-input
          v-model="queryParams.mobile"
          placeholder="请输入手机号码"
          clearable
          size="small"
          style="width: 240px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="状态" prop="status">
        <el-select
          v-model="queryParams.status"
          placeholder="用户状态"
          clearable
          size="small"
          style="width: 240px"
        >
          <el-option
            v-for="dict in userStatus"
            :key="parseInt(dict.status)"
            :label="dict.name"
            :value="parseInt(dict.status)"
          />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>

    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button
          v-permisaction="['user:add']"
          type="primary"
          icon="el-icon-plus"
          size="mini"
          @click="handleAdd"
        >新增
        </el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          v-permisaction="['user:select']"
          type="info"
          icon="el-icon-check"
          size="mini"
          @click="handleSelect"
        >选择
        </el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="success"
          icon="el-icon-edit"
          size="mini"
          :disabled="single"
          @click="handleUpdate"
        >修改
        </el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="danger"
          icon="el-icon-delete"
          size="mini"
          :disabled="multiple"
          @click="handleDelete"
        >删除
        </el-button>
      </el-col>
    </el-row>

    <el-table v-loading="loading" :data="userList" @selection-change="handleSelectionChange">
      <el-table-column type="selection" width="45" align="center"/>
      <el-table-column label="编号" width="50" align="center" prop="id"/>
      <el-table-column label="钉钉ID" align="center" prop="user_code"/>
      <el-table-column label="手机号码" align="center" prop="mobile" width="120"/>
      <!--          <el-table-column label="昵称" align="center" prop="nick_name" :show-overflow-tooltip="true" />-->
      <el-table-column label="真实姓名" align="center" prop="real_name" :show-overflow-tooltip="true"/>
      <el-table-column label="职位" align="center" prop="user_title"/>
      <el-table-column label="超级管理员" align="center">
        <template slot-scope="scope">
          <el-tag
            :type="scope.row.is_super_admin === 1 ? 'success' : 'danger'"
            disable-transitions
          >
            {{ scope.row.is_super_admin === 1 ? '是' : '否' }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column label="状态" width="50" align="center">
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.status"
            :active-value="1"
            :inactive-value="0"
            @change="handleStatusChange(scope.row)"
          />
        </template>
      </el-table-column>
      <el-table-column label="创建时间" align="center" prop="created_at" width="160">
        <template slot-scope="scope">
          <span>{{ parseTime(scope.row.created_at) }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="操作"
        align="center"
        width="220"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
          >修改
          </el-button>
          <el-button
            v-if="scope.row.id !== 1"
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
          >删除
          </el-button>

        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="queryParams.page"
      :limit.sync="queryParams.limit"
      @pagination="getUserList"
    />

    <!-- 添加或修改参数配置对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="600px">
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-row>

          <el-col :span="12">
            <el-form-item label="钉钉ID" prop="user_code">
              <el-input v-model="form.user_code" placeholder="请输入钉钉ID"/>
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="手机号码" prop="mobile">
              <el-input v-model="form.mobile" placeholder="请输入手机号码" maxlength="11" :disabled="isEdit"/>
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="真实姓名" prop="real_name">
              <el-input v-model="form.real_name" placeholder="请输入真实姓名"/>
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="职位" prop="user_title">
              <el-input v-model="form.user_title" placeholder="请输入职位"/>
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="状态">
              <el-radio-group v-model="form.status">
                <el-radio
                  v-for="dict in userStatus"
                  :key="dict.status"
                  :label="parseInt(dict.status)"
                >{{ dict.name }}
                </el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="用户组">
              <el-select v-model="selectGroupInfo" multiple placeholder="请选择用户组">
                <el-option
                  v-for="item in userGroupList"
                  :key="item.id"
                  :label="item.group_name"
                  :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>

        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>


    <!-- 选择并且添加用户 -->
    <el-dialog :title="title" :visible.sync="userSelect" width="600px">
      <el-form ref="formSelect" :model="formSelect" :rules="rules" label-width="80px">
        <el-row>
          <el-col :span="12">
            <el-select v-model="selectUserInfo" multiple placeholder="请选择成员">
              <el-option
                v-for="item in userSelectList"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>
          </el-col>
          <el-col :span="12">
            <el-select v-model="selectGroupInfo" multiple placeholder="请选择用户组">
              <el-option
                v-for="item in userGroupList"
                :key="item.id"
                :label="item.group_name"
                :value="item.id">
              </el-option>
            </el-select>
          </el-col>

        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitSelectForm">确 定</el-button>
        <el-button @click="cancelSelect">取 消</el-button>
      </div>
    </el-dialog>

  </div>
</template>

<script>

import {
  addUser,
  changeUserStatus,
  delUser,
  exportUser,
  getUser,
  getUserList,
  updateUser,
  getSelectUser,
  addSelectUser
} from '@/api/user/user'

import { groupList } from  '@/api/user/group'

export default {
  name: 'User',
  components: {},
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 总条数
      total: 0,
      // 用户表格数据
      userList: null,
      // 弹出层标题
      title: '',
      // 部门树选项
      deptOptions: [],
      // 是否显示弹出层
      open: false,
      // 部门名称
      deptName: undefined,
      // 默认密码
      initPassword: undefined,
      // 选择用户的框框默认值
      userSelect:false,
      // 默认的选择列表
      userSelectList:[],
      // 选中的数据
      selectUserInfo:[],
      // 默认的列表
      userGroupList:[],
      // 选中的用户组数据
      selectGroupInfo:[],
      // 表单参数
      form: {},
      formSelect: {},
      isEdit: false,
      defaultProps: {
        children: 'children',
        label: 'dept_name'
      },
      // 查询参数
      queryParams: {
        page: 1,
        limit: 10,
        real_name: undefined,
        mobile: undefined,
        status: undefined,
      },
      // 表单校验
      rules: {
        user_code: [
          {required: true, message: '钉钉id不能为空', trigger: 'blur'}
        ],
        real_name: [
          {required: true, message: '真实姓名不能为空', trigger: 'blur'}
        ],
        mobile: [
          {required: true, message: '手机号码不能为空', trigger: 'blur'},
          {
            pattern: /^1[3|4|5|6|7|8|9][0-9]\d{8}$/,
            message: '请输入正确的手机号码',
            trigger: 'blur'
          }
        ]
      },
      userStatus: [
        {status: 1, name: '启用'},
        {status: 0, name: '禁用'},
      ],
      isSuperAdmin: [
        {status: 1, name: '是'},
        {status: 0, name: '否'},
      ]
    }
  },
  watch: {},
  created() {
    this.getUserList()
  },
  methods: {
    // 查询用户列表
    getUserList() {
      this.loading = true
      getUserList(this.queryParams).then(response => {
          this.userList = response.data
          this.total = response.data.length
          this.loading = false
        }
      )
    },
    // 查询可选择的用户
    getSelectUser() {
      this.loading = true
      getSelectUser().then(response => {
          this.userSelectList = response.data
          this.loading = false
        }
      )
    },
    // 查询可选择的用户
    getSelectGroup() {
      this.loading = true
      groupList().then(response => {
          this.userGroupList = response.data
          this.loading = false
        }
      )
    },
    // 用户状态修改
    handleStatusChange(row) {
      const text = row.status === 1 ? '启用' : '停用'
      this.$confirm('确认要' + text + '"' + row.real_name + '"用户吗?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(function () {
        return changeUserStatus(row.id, row.status)
      }).then(() => {
        this.msgSuccess('用户“' + row.real_name + '”' + text + '成功')
      }).catch(function () {
        row.status = row.status === 1 ? 0 : 1
      })
    },
    // 取消按钮
    cancelSelect() {
      this.userSelect = false
      this.reset()
    },
    // 取消按钮
    cancel() {
      this.open = false
      this.reset()
    },
    // 表单重置
    reset() {
      this.form = {
        id: undefined,
        user_code: undefined,
        real_name: undefined,
        nick_name: undefined,
        mobile: undefined,
        user_title: undefined,
        is_super_admin: undefined,
        status: 1,
      }
      this.resetForm('form')
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.page = 1
      this.getUserList()
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.dateRange = []
      this.resetForm('queryForm')
      this.handleQuery()
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.id)
      this.single = selection.length !== 1
      this.multiple = !selection.length
    },
    //选择用户数据
    handleSelect(){
      this.reset()
      this.selectUserInfo = []
      this.selectGroupInfo = []
      this.getSelectUser()
      this.getSelectGroup()
      this.userSelect = true
      this.title = '选择添加用户'
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset()
      this.selectGroupInfo = []
      this.getSelectGroup()
      this.open = true
      this.title = '添加用户'
      this.isEdit = false
      // this.form.password = this.initPassword
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset()
      this.selectGroupInfo = []
      this.getSelectGroup()
      getUser(row.id || this.ids).then(response => {
        this.form = response.data
        this.selectGroupInfo = response.data.selectGroupInfo
        this.open = true
        this.title = '修改用户'
        this.isEdit = true
      })
    },
    /** 提交按钮 */
    submitForm: function () {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.form.selectGroupInfo = this.selectGroupInfo
          if (this.form.id !== undefined) {
            updateUser(this.form).then(response => {
              if (response.code === 200) {
                this.msgSuccess('用户修改成功')
                this.open = false
                this.getUserList()
              } else {
                this.msgError(response.msg)
              }
            })
          } else {
            addUser(this.form).then(response => {
              if (response.code === 200) {
                this.msgSuccess('新用户添加成功')
                this.open = false
                this.getUserList()
              } else {
                this.msgError(response.msg)
              }
            })
          }
        }
      })
    },
    submitSelectForm: function () {
          addSelectUser({selectUserInfo:this.selectUserInfo,selectGroupInfo:this.selectGroupInfo,}).then(response => {
            if (response.code === 200) {
              this.msgSuccess('用户添加成功')
              this.userSelect = false
              this.getUserList()
            } else {
              this.msgError(response.msg)
            }
          })
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const userIds = row.id || this.ids
      this.$confirm('是否确认删除用户编号为"' + userIds + '"的数据项?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(function () {
        return delUser(userIds)
      }).then(() => {
        this.getUserList()
        this.msgSuccess('删除成功')
      }).catch(function () {
      })
    },
    /** 导出按钮操作 */
    handleExport() {
      const queryParams = this.queryParams
      this.$confirm('是否确认导出所有用户数据项?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(function () {
        return exportUser(queryParams)
      }).then(response => {
        this.download(response.msg)
      }).catch(function () {
      })
    },
  }
}
</script>
