<template>

  <div class="login-container">
    <el-form ref="loginForm" :model="loginForm" :rules="loginRules" class="login-form" autocomplete="on"
             label-position="left">

      <div class="title-container">
        <h3 class="title">尚书</h3>
      </div>

      <el-form-item prop="mobile">
        <span class="svg-container">
          <svg-icon icon-class="user"/>
        </span>
        <el-input
          ref="mobile"
          v-model="loginForm.mobile"
          placeholder="手机号码"
          name="mobile"
          type="text"
          tabindex="1"
          autocomplete="on"
        />
      </el-form-item>

      <el-form-item prop="code" style="width: 60%;float: left;">
        <span class="svg-container">
          <svg-icon icon-class="validCode"/>
        </span>
        <el-input
          ref="code"
          v-model="loginForm.code"
          placeholder="验证码"
          name="code"
          type="text"
          tabindex="3"
          autocomplete="off"
          style=" width: 75%;"
          @keyup.enter.native="handleLogin"
        />
      </el-form-item>
      <div class="login-code">
        <el-button class="active" type="primary"
                   style="width: 37%;height: 40px;margin: 5px 5px;float: right;font-size: 13px;"
                   @click="getDingTalkCode" :disabled="countDown !== 0">
          {{countDown > 0 ? `${countDown}后可再次发送` : "获取钉钉验证码"}}
        </el-button>
      </div>

      <el-button :loading="loading" type="primary" style="width:100%;margin-bottom:30px;"
                 @click.native.prevent="handleLogin">
        <span v-if="!loading">登录</span>
        <span v-else>登录中...</span>
      </el-button>
    </el-form>
  </div>
</template>

<script>

  import {getDingTalkCode} from '@/api/user'

  export default {
    name: 'Login',
    data() {
      return {
        codeUrl: '',
        loginForm: {
          mobile: '',
          code: '',
        },
        loginRules: {
          mobile: [
            {required: true, message: '请输入手机号', trigger: 'change'},
            {
              validator: (_, value, callback) => {
                const reg = /^1[3|4|5|7|8][0-9]{9}$/
                if (reg.test(value)) {
                  this.countDown = 0;
                  callback()
                } else {
                  this.countDown = false;
                  callback(new Error("请输入正确的手机号"))
                }
              }, trigger: 'blur'
            }
          ],
          code: [{required: true, trigger: 'change', message: '验证码不能为空'}]
        },
        loading: false,
        redirect: undefined,
        otherQuery: {},
        loginLoading: false,
        countDown: false,
      }
    },
    computed: {
      mobile() {
        return this.loginForm.mobile
      }
    },
    watch: {
      mobile: function () {
        this.handleLogin()
      },
      $route: {
        handler: function (route) {
          const query = route.query
          if (query) {
            this.redirect = query.redirect
            this.otherQuery = this.getOtherQuery(query)
          }
        },
        immediate: true
      }
    },
    created() {
    },
    mounted() {
      if (this.loginForm.mobile === '') {
        this.$refs.mobile.focus()
      }
    },
    destroyed() {

    },
    methods: {
      // 获取钉钉验证码
      getDingTalkCode() {
        if (this.countDown !== 0) return
        this.countDown = false
        getDingTalkCode({mobile: this.loginForm.mobile}).then(res => {
          //钉钉消息发送成功
          if (res.data == null) {
            this.countDown = 60
            let interval = setInterval(() => {
              this.countDown--
              if (this.countDown === 0) {
                clearInterval(interval);
              }
            }, 1000)
          }
        }).catch(error => {
          console.log(error)
        })
      },
      handleLogin() {
        this.$refs.loginForm.validate(valid => {
          if (valid) {
            this.countDown = 0
            this.loading = true
            this.$store.dispatch('user/login', this.loginForm)
              .then(() => {
                this.$router.push({path: this.redirect || '/', query: this.otherQuery})
                this.loading = false
              })
              .catch(() => {
                this.loading = false
              })
          } else {
            console.log('error submit!!')
            return false
          }
        })
      },
      getOtherQuery(query) {
        return Object.keys(query).reduce((acc, cur) => {
          if (cur !== 'redirect') {
            acc[cur] = query[cur]
          }
          return acc
        }, {})
      },
    }
  }
</script>

<style lang="scss">
  /* 修复input 背景不协调 和光标变色 */
  /* Detail see https://github.com/PanJiaChen/vue-element-admin/pull/927 */

  $bg: #283443;
  $light_gray: #fff;
  $cursor: #fff;

  @supports (-webkit-mask: none) and (not (cater-color: $cursor)) {
    .login-container .el-input input {
      color: $cursor;
    }
  }

  /* reset element-ui css */
  .login-container {
    .el-input {
      display: inline-block;
      height: 47px;
      width: 85%;

      input {
        background: transparent;
        border: 0px;
        -webkit-appearance: none;
        border-radius: 0px;
        padding: 12px 5px 12px 15px;
        color: $light_gray;
        height: 47px;
        caret-color: $cursor;

        &:-webkit-autofill {
          box-shadow: 0 0 0px 1000px $bg inset !important;
          -webkit-text-fill-color: $cursor !important;
        }
      }
    }

    .el-form-item {
      border: 1px solid rgba(255, 255, 255, 0.1);
      background: rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      color: #454545;
    }
  }
</style>

<style lang="scss" scoped>
  $bg: #2d3a4b;
  $dark_gray: #889aa4;
  $light_gray: #eee;

  .login-container {
    min-height: 100%;
    width: 100%;
    background-color: $bg;
    overflow: hidden;

    .login-form {
      position: relative;
      width: 430px;
      max-width: 100%;
      padding: 160px 35px 0;
      margin: 0 auto;
      overflow: hidden;
    }

    .tips {
      font-size: 14px;
      color: #fff;
      margin-bottom: 10px;

      span {
        &:first-of-type {
          margin-right: 16px;
        }
      }
    }

    .svg-container {
      padding: 6px 5px 6px 15px;
      color: $dark_gray;
      vertical-align: middle;
      width: 30px;
      display: inline-block;
    }

    .title-container {
      position: relative;

      .title {
        font-size: 26px;
        color: $light_gray;
        margin: 0px auto 40px auto;
        text-align: center;
        font-weight: bold;
      }
    }

    .show-pwd {
      position: absolute;
      right: 10px;
      top: 7px;
      font-size: 16px;
      color: $dark_gray;
      cursor: pointer;
      user-select: none;
    }

    .thirdparty-button {
      position: absolute;
      right: 0;
      bottom: 6px;
    }

    @media only screen and (max-width: 470px) {
      .thirdparty-button {
        display: none;
      }
    }
  }
</style>
